.header {
  height: rem(64px);
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: rem(64px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px) !important;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(
    var(--mantine-color-gray-7),
    var(--mantine-color-dark-0)
  ) !important;
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white) !important;
  }
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 1s infinite;
}

.highlight {
  background-color: #f0a500; /* Cor diferente */
  color: #fff;
  border-radius: 5px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.highlight:hover {
  background-color: #cc8500;
}
