.tabela{
  width:100%;
  height:auto;
  margin-top: 5%;
  margin-bottom:5%;
}

table{
    width:100%;
}

table, th, td {
    border-bottom:solid #003895 2px;
    border-collapse: collapse;
    height:60px;
    text-align: center;
}

td:first-child {
    width:10%;
  }
  td:nth-child(2) {
    width:30%;
  }
  td:nth-child(3) {
    width:20%;
  }
  td:nth-child(4) {
    width:20%;
  }
  td:last-child {
    width:20%;
  }


.headerTab {
    background-color: #003895;
    color:#FFFFFF;
}