.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md) !important;
  color: var(--mantine-color-text);
  font-size: var(--mantine-font-size-sm);

  &:hover {
    background-color: var(--mantine-color-gray-0);
    color: var(--mantine-color-black);
  }
}

.link {
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md) !important;
  padding-left: var(--mantine-spacing-md) !important;
  margin-left: var(--mantine-spacing-xl) !important;
  font-size: var(--mantine-font-size-sm) !important;
  color: var(--mantine-color-gray-7);
  border-left: 1px solid var(--mantine-color-gray-3);

  &:hover {
    background-color: var(--mantine-color-gray-0);
    color: var(--mantine-color-black);
  }
}

.chevron {
  transition: transform 200ms ease;
}
